.card-header{
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}


card-body

.card-body{
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}